.container-fluid {
	width: 600px;
	background-color: #F7F7F7;
	font-family: Georgia;
}

.col-md-12 {
	height: 30px;
	background-color: #C0C0C0;
	font-color: white;
}

.specialization {
	font-style: italic;
}